section.products {
    position: absolute;
    top: 200px;
}

ul.tab-nav {
    list-style: none;
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: 0px;
    padding: 0px;
}

ul.tab-nav li {
    text-align: center;
    flex: 1;
    border-radius: 2rem 2rem 0 0;
}

ul.tab-nav .active-tab {
    /* background-color: hsl(0, 0%, 80%); */
    background-color: hsl(94, 68%, 91%);
    box-shadow: inset .5rem .5rem 5rem #8080802d, inset -0.5rem .5rem 5rem #8080802d;
    
    /* background-color: red; */
}

ul.tab-nav .inactive-tab {
    background-color: hsla(0, 0%, 75%, 0.1);
    box-shadow: inset .5rem .5rem .5rem #8080802d, inset -0.5rem .5rem .5rem #8080802d;
    opacity: 50%
}

ul.tab-nav h2 {
    margin-bottom: 1rem;
}