.product_info {
    /* width: 50%; */
    display: flex;
    flex-direction: column;
    gap: 10%;
    /* border: 3px solid hsl(0, 0%, 50%); */
    padding: 2rem;
    background-color: hsl(0, 0%, 97%);
    /* justify-content: space-evenly; */
    /* border-radius: 1rem; */
}

.product_info:nth-of-type(2n) {
    background-color: hsl(0, 0%, 90%);
}

.product_info:last-of-type {
    border-radius: 0 0 1rem 1rem;
}

.product_info__section {
    padding: 1%;
    
}


.product_info h2 {
    display: inline;
    margin-right: .5rem;
}

.product_info h3 {
    display: inline;
    margin-right: .5rem;
}

.product_info__item {
    padding: .5rem;
}