.scanner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div.search {
    padding: 25px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
  }

div.scanning-text {
  position: absolute;
  top: 25%;
  font-size: 5rem;
  font-weight: 900;
  /*    text-transform: uppercase; */
    background-image: linear-gradient(
      0deg,
      #e45d5d 0%,
      #e45d5d 45%,
      #fbacac 49%,
      #f8f4f4 50%,
      #fbacac 51%,
      #e45d5d 55%,
      #e45d5d 100%
    );
    background-size: auto auto;
    background-clip: border-box;
    background-size: 100% 200%;
    color: #fff;
    background-clip: text;
    /* text-fill-color: transparent; */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 5s linear alternate infinite;
    /* display: inline-block; */
    /* font-size: 190px; */
  }
  
  @keyframes textclip {

    to {
      background-position: 200% bottom;
    }
  }
  
section.scan-buttons {
  padding: 50px;
}

section.scan-buttons button {
  padding: 25px;
  margin: 50px;
  font-size: 2rem;
  font-family: Poppins;
  font-weight: 900;
  width: 25rem;
  height: 10rem;
  border-width: 0px;
  color: #fff;
  border-radius: 28px;
}

button:enabled {
  cursor: pointer;

}

button:disabled {
  opacity: 25%;
  transition: .1s;
  cursor: no-drop;
}

/* button:enabled {
  transition: .3s;
} */

button:enabled:active {
  translate: 0px 3px;
}

button.start {
  border-color: #18ab29;
  box-shadow: 1px 4px 10px 1px rgba(121, 121, 121, 0.66);
  text-shadow: 1px 1px 0px #2f66278b;
  background: hsl(136, 54%, 52%);
}

/* button.start:enabled:hover {
  background: rgb(95, 223, 129)
} */
button.start:enabled:hover {
  background: hsl(136, 42%, 51%)
}
/* button.start:enabled:active {
  background: rgb(95, 223, 129)
} */

button.stop {
  border-color: #ce4f35;
  box-shadow: 1px 4px 10px 3px rgba(121, 121, 121, 0.66);
  text-shadow: 1px 1px 0px #6630278b;
  background: hsl(10, 74%, 62%);
  /* background-color: #f87d7d; */
}

/* button.stop:enabled:hover {
  background-color: rgb(249, 170, 170);
} */
button.stop:enabled:hover {
  background-color: hsl(10, 64%, 61%);
}

.hidden{
  opacity: 0;
  transition: .5s;
}

